@using CarFuel.Models
@model IEnumerable<Car> 

<h2>My Cars</h2>

@foreach(var c in Model) {
  <h2>@c.Name</h2>
}

<a href="~/Cars/Add" class="btn btn-success btn-lg">
  <span class="glyphicon glyphicon-plus"></span>
</a>